.top-bar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

.service,
.top-bar li{
    float: left;
}
.top-bar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

.top-bar a:hover{
    color: white;
}

.download:hover .qrcode{
    display: block;
}
.top-bar .line{
    font-size: 12px;
    margin: 0 8px;
    color: #424242;
}
.download{
    position: relative;
}
.service .qrcode{
    display: none;
    position: absolute;
    left: -95%;
    margin-left: 5px;
    width: 124px;
    height: 148px;
    line-height: 1px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.qrcode .arrow{
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -2.5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: white;
}
.qrcode img{
    width: 90px;
    height: 90px;
    margin: 17px;
}
.qrcode span{
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
}
.shop-cart,
.user-info{
    float: right;
}

.shop-cart{
    margin-left: 15px;
}

.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart:hover a{
    background-color: white;
    color: #ff6700;
}
.shop-cart i{
    margin-right: 2px;
}